.nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px ;
    background-color: var(--dsf-color-bg-secondary);
    color: var(--dsf-color-font-secondary);
    font-weight: 700;
 
}